# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspacedata
xcuserdata/

# Amplify - contains AWS resource identifiers
amplifyconfiguration.json
awsconfiguration.json
amplify/team-provider-info.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
